.register-done-container{padding:40px 70px;text-align:center;color:#d5d5d5}.register-done-container>h2{color:#fff}.register-done-container>h2 span{color:#db1acb}.register-done-container>img{display:block;background-color:#ececec;margin:40px auto}